@model SchoolManager.Models.Schools

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schools</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Students)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacancies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacancies)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
