@model SchoolManager.Models.Subjects

@{
    ViewData["Title"] = "Delete";
}

<h1>Διαγραφή Μαθήματος</h1>

<h3>Είστε σίγουρος πως θέλετε να το διαγράψετε;</h3>
<div>
    <h4>Subjects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID Μαθήματος
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectId)
        </dd>
        <dt class = "col-sm-2">
            Τομέας
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            Μαθητές
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAmount)
        </dd>
        <dt class = "col-sm-2">
            Βαθμός
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredGrade)
        </dd>
        <dt class = "col-sm-2">
            Διδακτικές Ώρες
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredHours)
        </dd>
        <dt class = "col-sm-2">
            Ελάχιστα Τεστ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredTests)
        </dd>
        <dt class = "col-sm-2">
            Συνολικά Τεστ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTests)
        </dd>
        <dt class = "col-sm-2">
            Μέγιστες Διδακτικές Ώρες
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHours)
        </dd>
        <dt class = "col-sm-2">
            Απουσίες
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAbsentHours)
        </dd>
        <dt class = "col-sm-2">
            Αριθμός Καθηγητών στην Τάξη
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherCountInClass)
        </dd>
        <dt class = "col-sm-2">
            Καθηγητές
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherRegistered)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Διαγραφή" class="btn btn-danger" /> |
        <a asp-action="Index">Πίσω στην λίστα</a>
    </form>
</div>
