@model SchoolManager.Models.Subjects

@{
    ViewData["Title"] = "Details";
}

<h1>Λεπτομέρειες Μαθημάτων</h1>

<div>
    <h4>Subjects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredTests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredTests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAbsentHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAbsentHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherCountInClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherCountInClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherRegistered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherRegistered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Πίσω στην λίστα</a>
</div>
